.modal-form .help-block-error{
    color: #ff0000;
}

.modal-close {
    cursor: pointer;
}

.remember-checked::before {
    background: #f9f6f3 url("../img/sprite.png") no-repeat;
    background-position: -5px -252px;
}

.cart-input {
    text-align: center;
    width: 40px;
    border: 2px solid #000000;
}

.inner-columns--margin {
    margin: 0;
}

.edit-info-form {
    color: #000;
}

.edit-info-form label {
    margin-right: 25px;
}

.item-container .error {
    color: #ff0000;
}

.item-container .success {
    color: #00aa00;
}